<h1>Pokesir</h1>
<div><span>Id: </span>{{id}}</div>
<div>
  <label>Id:
    <input [(ngModel)]="id" placeholder="id"/>
  </label>
  <label>Id:
    <input [(ngModel)]="name" placeholder="name"/>
  </label>
</div>
<button (click) = "goClick()" >Go</button>
<h2>Pokémons : </h2>
<select class="pokemons" #t (change)="onSelect(t.value)" >
  <option *ngFor="let pokemon of pokemons | pokemonName:'name':name"
    [value]="pokemon.id"
    [attr.selected]="pokemon.id==id ? true : null"> {{pokemon.name}}
</option>
</select>
